tensorflow[and-cuda]==2.21.0
torch
transformers
pandas
numpy
datasets>=4.8.4
matplotlib
seaborn
scikit-learn
nltk
tqdm>=4.66.3
pymorphy2
pymorphy2-dicts-ru
setuptools
joblib
jupyter
notebook
jupyterlab
ipykernel
trackio[mcp]
